{% extends 'base.html.twig' %}

{% block title %}{{ employe }}{% endblock %}

{% block body %}
    <h1 id="employe"><i class="fa-solid fa-user"></i> {{ employe }}</h1>
    <a href="{{ path('update_employe', {'id': employe.id})}}" class="btn btn-warning my-4"><i class="fa-solid fa-pen-to-square" id="modif-logo"></i></a><br>
    <img src="{{asset('uploads/' ~ employe.imageFileName)}}" alt="Photo de profil" class="w-25">
    <p>Entreprise : <a href="{{ path('show_entreprise', {'id': employe.entreprise.id}) }}'">{{ employe.entreprise }}</a></p>
    <p>Date d'embauche : {{ employe.dateEmbauche | date('d-m-Y') }} {{ employe.anciente }}</p>
    <p>Adresse : {{ employe.adresseFull }}</p>
    <p>Date de naissance : {{ employe.dateNaissance| date('d-m-Y') }} {{ employe.age }}</p>

    <h2>Liste des collegues</h2>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Employés</th>
            </tr>
        </thead>
        <tbody>
            {% for collegue in employe.collegues %}
                {% if collegue.id != employe.id %}
                    <tr>
                        <td><a href="{{ path('show_employe', {'id': collegue.id}) }}">{{ collegue }}</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}